body {
    background-color: #023f02;
}

/*Add a custom font*/
@font-face {
    font-family: "VCR";
    src: url("css/fonts/vcr_osd_mono-webfont.eot");
    src: url("css/fonts/VCR_OSD_MONO.ttf") format("truetype"),
        url("css/fonts/vcr_osd_mono-webfont.woff") format ("woff"),
        url("css/fonts/vcr_osd_mono-webfont.svg") format ("svg");
    font-weight: normal;
    font-style: normal;
} 

/* Add a green background color to the top navigation */
.topnav {
    background-color: #023f02;
    overflow: hidden;
    text-align: center;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #ca1616;
  text-align: center;
  padding: 14px 5vw;
  text-decoration: none;
  font-size: 4vw;
  font-weight: normal;
  font-family: "VCR", system-ui;
  
}

img {
    max-width: 40vw;
    height: auto;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    pointer-events: none;
}

.IntroBlock {
    font-family: "VCR", system-ui;
    display: block;
    color: #ca1616;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 2vw;
    text-align: center;
}

.paragraph {
    font-size: 2vw;
    color: white;
}

.SmileyImg {
    max-width: 6%;
    height: auto;
    padding-top: 0;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
}