body {
    background-color: #0b5d0b;
}

/* Add a green background color to the top navigation */
.topnav {
    background-color: #0b5d0b;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #ca1616;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 29px;
}