body {
    background-color: #023f02;
}

/*Add a custom font*/
@font-face {
    font-family: "VCR";
    src: url("css/fonts/vcr_osd_mono-webfont.eot");
    src: url("css/fonts/VCR_OSD_MONO.ttf") format("truetype"),
        url("css/fonts/vcr_osd_mono-webfont.woff") format ("woff"),
        url("css/fonts/vcr_osd_mono-webfont.svg") format ("svg");
    font-weight: normal;
    font-style: normal;
} 

/* Add a green background color to the top navigation */
.topnav {
    background-color: #023f02;
    overflow: hidden;
    text-align: center;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #ca1616;
  text-align: center;
  padding: 14px 65px;
  text-decoration: none;
  font-size: 80px;
  font-weight: normal;
  font-family: "VCR", system-ui;
}

img {
    max-width: 30%;
    height: auto;
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.IntroBlock {
    font-family: "VCR", system-ui;
    display: block;
    text-align: center;
    color: #ca1616;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    font-size: 40px;
    padding-top: 0px;
}

.intro {
    font-size: 20px;
    color: white;
}

.thanks {
    font-size: 30px;
    color: #ca1616
}